.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map*/
body {
  background-color: #f2f2f2 !important;
}
.root {
}
.Statistics h3 {
  color: #c7c7c7;
  padding-top: 5%;
}
.Statistics h4 {
  color: #c7c7c7;
  padding-top: 15%;
}

.Statistics {
  margin-top: 5%;
  margin-bottom: 5%;
}
.Statistics span {
  color: #c7c7c7;
  margin-top: 5%;
}
.StatDiv {
  background: rgba(0, 0, 0, 0.47843137254901963);
  margin-right: 1%;
  margin-left: 1%;
  height: 131px;
  border-radius: 10px;
}

.content {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
}
#paper {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mttop {
  margin-top: 0px !important;
}
#LoginForm {
  padding: 0px 33px;
  height: 100%;
  margin-top: 2%;
}
.ptop {
  padding-top: 10px;
}
.RightContent {
  padding-top: 5%;
}
.RightContent h5 {
  color: #fff !important;
  margin-bottom: 20px;
}
.RightContent h4 {
  color: #fff !important;
}
.footer .footer-content {
  padding: 1% 1% 1% 1%;
  background: #191919 !important;
}
.footer .footer-content1 {
  padding: 1% 2% 1% 2%;
  color: #fff;
}
.social-icons ul {
  list-style: none;
  margin-bottom: 0;
}
.social-icons {
  text-align: right;
}
.social-icons ul li {
  display: inline;
  margin-left: 20px;
}
.pudz {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.RightContent ul li {
  list-style: none;
  color: #fff;
}
.RightContent ul {
  padding-left: 0;
}
.FormBorder {
  padding: 5%;
  border: 1px solid #cecece;
}
.formHead .Head,
.formHead .subHead {
  color: #696969;
}
.formHead {
  padding: 3%;
}
.formHead .avatar {
  margin-bottom: 2%;
}
#MobileNumber {
  font-size: 20px;
  font-weight: 400;
}
.masking,
.masking p {
  font-size: 20px;
}
.footer {
  position: relative;
  z-index: 1300;
  background: #000;
  color: #fff !important;
}
.footer-content1 .copyR {
  color: #cacaca !important;
}
.footer-content1 .copyR a {
  color: #cacaca !important;
}
.footer-copy-welcome {
  font-size: 0.875rem !important;
  color: #d0d0d0 !important;
}
.footer-flex {
  display: flex;
}
.terms-footer-welcome,
.terms-footer-welcome a {
  color: #d0d0d0 !important;
}

.MuiOutlinedInput-root {
  border-color: rgba(0, 0, 0, 0.87) !important;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(0, 0, 0);
}
.ErrorText {
  color: red;
  font-weight: 400;
  font-size: 0.75rem;
}
.Redirect-Dialog-Head {
  padding: 42px 18px 35px !important;
}
.Redirect-Dialog-Body {
  padding: 43px 88px 50px !important;
}
.Redirect-Dialog-Head h6,
.Redirect-Dialog-Head h5 {
  color: #f06620;
}
.Redirect-Dialog-Head svg {
  color: #f06620;
  margin-bottom: 10px;
}
.Redirect-Dialog-Head img {
  height: 30px;
  width: 30px;
}
.LoginMSG {
  color: #666666 !important;
  letter-spacing: 0.9px !important;
  margin-bottom: 5% !important;
}
.hta {
  height: 100vh;
  padding-top: 5%;
}

/*Responsive Code*/
@media only screen and (max-width: 1278px) {
  .hta {
    height: auto;
    padding-top: 5%;
  }
  #LoginForm {
    padding: 0px 33px;
    margin-bottom: 10%;
  }
  .statTopM {
    margin-top: 0%;
  }
  .Redirect-Dialog-Body {
    padding: 43px 32px 50px !important;
  }
  .StatDiv {
    background: rgba(0, 0, 0, 0.47843137254901963);
    margin-right: 1%;
    margin-left: 1%;
    height: 131px;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .Statistics h3 {
    color: #c7c7c7;
    padding-top: 4%;
  }
  .Statistics h4 {
    color: #c7c7c7;
    padding-top: 7%;
  }
  .root {
    /* background-image: url("../../../Assets/images/Fill.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .ptop {
    padding-top: 10px;
  }
  .statTopM {
    margin-top: 0%;
  }
  .StatDiv {
    background: rgba(0, 0, 0, 0.47843137254901963);
    margin-right: 1%;
    margin-left: 1%;
    height: 131px;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .Statistics h3 {
    color: #c7c7c7;
    padding-top: 4%;
  }
  .Statistics h4 {
    color: #c7c7c7;
    padding-top: 7%;
  }
  .content {
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
  }
  .root {
    /* background-image: url("../../../Assets/images/Fill.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .RightContent h4 {
    color: #fff !important;
    font-size: 20px;
  }
  .RightContent h5 {
    font-size: 15px;
  }
  .masking p {
    font-size: 23px;
  }
  #MobileNumber {
    font-size: 23px;
    font-weight: 400;
  }
  .footer-copy-welcome {
    font-size: 10px !important;
  }
  .terms-footer-welcome {
    font-size: 10px !important;
  }
  .social-icons {
    text-align: right;
    padding-top: 10px;
  }
  .footer-flex {
    display: block;
  }
  .w-m-1-1 {
    font-size: 15px !important;
    line-height: 1.2em !important;
    margin-bottom: 5px !important;
  }
  .w-m-1-2 {
    font-size: 15px !important;
    line-height: 1.2em !important;
    margin-bottom: 5px !important;
  }
}

@media only screen and (max-width: 420px) {
  .ptop {
    padding-top: 10px;
  }
  .statTopM {
    margin-top: 0%;
  }
  .StatDiv {
    background: rgba(0, 0, 0, 0.47843137254901963);
    margin-right: 1%;
    margin-left: 1%;
    height: 131px;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .Statistics h3 {
    color: #c7c7c7;
    padding-top: 4%;
  }
  .Statistics h4 {
    color: #c7c7c7;
    padding-top: 7%;
  }
  .content {
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
  }
  .root {
    /* background-image: url("../../../Assets/images/Fill.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .RightContent {
    padding-left: 5%;
    padding-top: 5%;
  }
  .RightContent h4 {
    color: #fff !important;
    font-size: 15px;
  }
  .RightContent h5 {
    font-size: 13px;
  }
  .masking p {
    font-size: 13px;
  }
  #MobileNumber {
    font-size: 13px;
    font-weight: 400;
  }
  .footer-copy-welcome {
    font-size: 10px !important;
  }
  .terms-footer-welcome {
    font-size: 10px !important;
  }
  .social-icons {
    text-align: right;
    padding-top: 10px;
  }
  .footer-flex {
    display: block;
  }
  .w-m-1-1 {
    font-size: 12px !important;
    line-height: 1.2em !important;
    margin-bottom: 5px !important;
  }
  .w-m-1-2 {
    font-size: 12px !important;
    line-height: 1.2em !important;
    margin-bottom: 5px !important;
  }
  .f-list {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .btn-1 {
    font-size: 12px !important;
  }
  .btn-2 {
    font-size: 12px !important;
  }
}
