html {
  scroll-behavior: smooth;
}
.hline {
  position: inherit !important;
}
.Section-Padding {
  padding-top: 5%;
  padding-bottom: 5%;
}
/*Navbar CSS Start*/
.BrandName {
  color: orange;
  height: auto !important;
  padding: 10px 15px !important;
}
.BrandName img {
  width: 80px;
}
.navbar-default .navbar-nav > li > a {
  color: #424242;
  font-size: 14px;
  font-weight: 500;
}
.navbar {
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  box-shadow: none !important;
}
.TopHead {
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: none;
  border-bottom: 1px solid transparent !important;
  transition: background 0.1s ease;
}
.TopHeadWhite {
  background-image: none !important;
  background-color: #fff !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e4e4e4 !important;
}
.navbar .btn-warning {
  color: #fff;
  background-color: #e31a12;
  border-color: #e31a12;
  background-image: none;
  margin-top: -6px;
  text-transform: none;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #e31a12 !important;
  background-color: transparent;
}
/*Navbar CSS End*/

/*Slider Start*/
.Home-Slider {
  background-color: #f4f8fc;
  padding-top: 5%;
}
.Lender-Slide-Text {
  /* padding: 18% 0%; */
}
.Lender-Slide-Text h1 {
  font-size: 47px;
  line-height: 42px;
  letter-spacing: 0px;
  color: #f58220;
  font-weight: 800;
}
.Lender-Slide-Text h2 {
  line-height: 25px;
  color: #f58220;
  font-weight: 300;
  margin-top: 0;
  font-size: 26px;
}
.Lender-Slide-Text h4 {
  font-weight: 300;
}
.Lender-Slide-Text ul {
  padding-left: 15px;
}
.Lender-Slide-Text .btn-warning {
  color: #fff;
  background-color: #f58220;
  border-color: #f58220;
  background-image: none;
  text-transform: none;
}
/*Slider End*/

/*Statistics start*/
.Main-Stats {
  /*background-color: #e0e9ef;*/
  background: linear-gradient(to bottom left, #76c4e2, #8176b5);
  padding-top: 1%;
  padding-bottom: 1%;
}
.Main-Stats .Couter-Card h1 {
  color: #fff !important;
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.Main-Stats .Couter-Card p {
  font-weight: bold;
  color: #fff !important;
}
.Couter-Card {
  padding-bottom: 4%;
}
/*Statistics end*/

/*Features Start*/
.Feature-Grid {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
}
.Feature-Grid img {
  width: 65px;
  margin-right: 4%;
}
.Feature-Grid .p-title {
  font-weight: 600;
  color: #222;
  font-size: 16px;
  margin-bottom: 22px;
}
.Feature-Grid .p-description {
  font-weight: 300;
  color: #222;
  font-size: 14px;
  text-align: justify;
  width: 90%;
}
.Main-Features h2 {
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
  text-align: center;
}
/*Features End*/

/*User Reviews start*/
.User-Reviews-Main {
  background-color: #f2f2f2;
}
.User-Reviews-Main .TrustedBy {
  color: #707070;
  font-size: 14px;
  font-weight: 600;
}
.User-Review-Card .User-Review-Text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  width: 60%;
}
.User-Review-Card svg {
  color: #8176b5;
}
.User-Name-Profile {
  display: inline-flex;
}
.User-Name-Profile .Profile {
  margin-bottom: 0;
  padding-right: 40px;
  border-right: 1px solid #bbb;
}
.User-Name-Profile .Profile h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.7em;
  color: #000;
  font-weight: bold;
}
.User-Name-Profile .UserName h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.7em;
  color: #424242;
  text-transform: uppercase;
}
.User-Name-Profile .UserName {
  text-align: left;
  padding-left: 40px;
}
/*User Reviews end*/

/*RBI section*/
.RBI-Section-Main {
  background: linear-gradient(to bottom left, #76c4e2, #8176b5);
  padding: 2%;
}
.RBI-Section-Main h2 {
  color: #fff;
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
}
.RBI-Section-Main p {
  color: #fff;
  font-size: 16px;
  line-height: 1.7em;
  margin-bottom: 2%;
  width: 70%;
}
.RBI-Section-Main .btn-warning {
  color: #fff;
  background-color: #f58220;
  border-color: #f58220;
  background-image: none;
}
/*RBI section*/

/*Footer start*/
.Footer-Main {
  background: #333;
}
.Footer-Top {
  padding: 4% 0% 2% 0%;
}
.Footer-Bottom {
  padding: 2% 0%;
}
.Footer-Bottom-Menu {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
}
.Footer-Bottom-Menu .Right-Side {
  float: left;
  text-align: right;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.Footer-Bottom-Menu .Left-Side {
  -webkit-align-items: center;
  align-items: center;
}
.Footer-Bottom-Menu .Right-Side span {
  color: #cac8c8 !important;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  margin-right: 10px;
}
.Footer-Bottom-Menu .Right-Side a {
  color: #cac8c8 !important;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  padding: 0 5px;
  border-left: 1px solid #cac8c8;
}
.Footer-Bottom-Menu .Left-Side svg {
  color: #cac8c8 !important;
}
.Footer-Top ul {
  list-style-type: none;
  padding-left: 0;
}
.Footer-Top ul li {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}
.Footer-Top ul li a {
  font-weight: 300;
  font-size: 12px;
}
.Footer-Top ul .li-head {
  font-weight: 600;
  color: #cac8c8 !important;
  font-size: 10px;
  display: block;
  text-transform: uppercase;
}
.Footer-Top .Address-ul {
  padding-left: 22px;
}
.Footer-Top .Address-ul li {
  color: #cac8c8 !important;
  line-height: 20px;
}
.Footer-Top img {
  width: 60%;
}
.li-address {
  list-style-image: url("../Assets/images/locating.png");
  margin-bottom: 15px;
}
.li-mail {
  list-style-image: url("../Assets/images/plane2.png");
}
/*Footer end*/

/*playstore start*/
.Playstore-Main {
  background: linear-gradient(to bottom left, #ffdb6f, #f69259);
  padding-top: 3%;
  padding-bottom: 3%;
}
.Playstore-Main .TabImage {
  width: 100%;
}
.Playstore-Main .PhoneImage {
  width: 100%;
  margin-top: 44%;
}
.Playstore-Main h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}
.Playstore-Text {
  margin-top: 15%;
}
.Playstore-Main .btn-warning {
  color: #fff;
  background-color: #000;
  border-color: #000;
  background-image: none;
}
/*Playstore end*/

/*Contact Us start*/
.Contact-Main {
  background-color: #e0e0e0;
}

.Contact-Main .Top-Banner-Gradient {
  background: linear-gradient(to bottom left, #ba77b1, #8176b5);
  height: 220px;
}
.Contact-Main .Form-Main-Paper {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(136, 136, 136, 0.5) 0px 0px 20px 0px;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10%;
  margin-top: -10%;
  padding: 3% 3% 5% 3%;
}
.Contact-Main .Form-Main-Paper h1 {
  color: rgb(114, 119, 123);
  font-weight: 400;
}
.Contact-Main .Form-Main-Paper h4 {
  color: rgb(114, 119, 123);
  font-weight: 400;
}
.Contact-Main .Contact-Form {
  padding: 0% 26%;
}
.Contact-Main .Contact-Form label {
  float: left;
  color: rgb(98, 103, 106);
  font-size: 17px;
  font-weight: 400;
}
.Contact-Main .Contact-Form span {
  float: left;
  color: rgb(98, 103, 106);
  font-size: 15px;
  font-weight: 400;
  margin-top: 2px;
}
.Contact-Main .Contact-Form legend {
  border-bottom: 0;
}
.Contact-Main .Contact-Form .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  background-image: none;
  padding: 9px 31px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
}
/*Contact Us end*/

/*Profile */
.Profile-Main {
  background-color: #f5f5f5;
}
.Profile-Main .Top-Banner-White {
  padding-top: 10%;
}
.Profile-Main .Form-Main-Paper {
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(136, 136, 136, 0.5) 0px 0px 20px 0px; */
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10%;
  padding: 3% 3% 5% 3%;
}
.Profile-Main .Form-Main-Paper h1 {
  color: rgb(114, 119, 123);
  font-weight: 400;
}
.Profile-Main .Form-Main-Paper h4 {
  color: rgb(114, 119, 123);
  font-weight: 400;
}
.Profile-Main .Profile-Form {
  padding: 0% 5%;
}
.Profile-Main .Profile-Form label {
  float: left;
  color: rgb(98, 103, 106);
  font-size: 17px;
  font-weight: 400;
}
.Profile-Main .Profile-Form span {
  float: left;
  color: rgb(98, 103, 106);
  font-size: 15px;
  font-weight: 400;
  margin-top: 2px;
}
.Profile-Main .Profile-Form legend {
  border-bottom: 0;
}
.Profile-Main .Profile-Form .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  background-image: none;
  padding: 9px 31px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
}
.Profile-Main table td {
  padding: 1% 0% 1% 5%;
}
/*Profile */

/*FAQ start*/
.FAQ-Main {
  padding-top: 8%;
  padding-bottom: 8%;
}
.FAQ-Main h2 {
  font-size: 30px;
  font-weight: 400;
}
.FAQ-Main h3 {
  font-weight: 100;
  color: #c9c9c9;
}
.FAQ-Main .nav-tabs > li {
  float: none;
  margin-bottom: -1px;
  display: inline-block;
  zoom: 1;
  text-transform: uppercase;
}
.FAQ-Main .nav-tabs {
  text-align: center;
}
.FAQ-Main .nav > li > a {
  padding: 10px 34px;
}
.FAQ-Main .tab-content {
  padding-top: 5%;
}
.FAQ-Main .tab-content h3 {
  font-weight: 500;
  color: #000;
  margin-bottom: 2%;
}
.FAQ-Main .tab-content h4 {
  font-weight: 400;
  line-height: 160%;
  text-align: justify;
}
.FAQ-Main .tab-content .Main-ol > li {
  margin-bottom: 5%;
}
.Border-Orange {
  border-left: 1px solid #f46523;
  padding-left: 15px;
}
/*FAQ end*/

/*Terms Main*/
.Terms-Main {
  padding-top: 9%;
  padding-bottom: 8%;
}
.Terms-Section {
  padding: 25px 20px;
}
.Terms-Main h2 {
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 1.3;
  font-weight: 300;
}
.Terms-Container {
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: left;
  justify-content: left;
}
.Terms-Grid1 {
  -webkit-flex-basis: 67%;
  flex-basis: 67%;
  max-width: 67%;
}
.Terms-Upper-ol {
  list-style-type: none;
  padding-left: 0;
}
.Terms-Upper-ol p {
  text-align: justify;
}
.Terms-Upper-ol hr {
  border-bottom: 1px solid #a5a0a0;
}
.Terms-Lower-ol {
  padding-left: 0;
}
.QuickLinks {
  padding-left: 0;
  list-style-type: none;
}
.Terms-Grid2 {
  margin-left: 40px;
  margin-top: 27px;
}
.Terms-Grid2 h4 {
  font-size: 14px;
  color: #424242;
  font-weight: bold;
}
.Terms-Grid2 a {
  font-weight: normal;
}
.Terms-Grid2 hr {
  border-top: 1px solid #b3b3b3;
}
.Terms-Grid2 li {
  line-height: 2;
}
.St_para {
  font-weight: 100;
  font-size: 18px;
  font-style: italic;
}
.QuickLinks a {
  text-transform: unset;
}
/*Terms Main end*/

/*Lenders start*/
.Lender-Main {
  background: #ba77b1;
  background: linear-gradient(to bottom left, #ba77b1, #8176b5);
  background-size: cover;
  background-position: center;
  margin-top: 7%;
}
.Lender-Page-Text {
  padding: 18% 0%;
}
.Lender-Page-Text h1 {
  font-size: 37px;
  line-height: 42px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 800;
}
.Lender-Page-Text h2 {
  line-height: 25px;
  color: #fff;
  font-weight: 300;
  margin-top: 0;
  font-size: 26px;
}
.Lender-Page-Text h4 {
  font-weight: 300;
}
.Lender-Page-Text ul {
  padding-left: 15px;
  list-style-image: url("../Assets/images/checked.png");
}
.Lender-Page-Text ul li h4 {
  color: #fff;
}
.Lender-Page-Text ul li {
  margin-bottom: 19px;
}
/*Lenders end*/

/*Lender stats start*/
.Lender-Main-Stats {
  /*background-color: #e0e9ef;*/
  background: #333;
  padding-top: 1%;
  padding-bottom: 1%;
}
.Lender-Main-Stats .Lender-Couter-Card h1 {
  color: #afafaf !important;
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.Lender-Main-Stats .Lender-Couter-Card p {
  font-weight: bold;
  color: #afafaf !important;
}
.Lender-Couter-Card {
  padding-bottom: 4%;
}
/*Lender stats end*/

/*Career start*/
.Career-Main {
  background: #76c4e2;
  background: linear-gradient(to bottom left, #76c4e2, #8176b5);
  background-size: cover;
  background-position: center;
  margin-top: 7%;
}
.Career-Page-Text {
  padding: 18% 0%;
}
.Career-Page-Text h1 {
  font-size: 37px;
  line-height: 42px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 5%;
}
.Career-Page-Text h4 {
  line-height: 31px;
  color: #fff;
  font-weight: 300;
  margin-top: 0;
  font-size: 26px;
}
.Career-Page-Text ul {
  padding-left: 15px;
  list-style-image: url("../Assets/images/checked.png");
}
.Career-Page-Text ul li h4 {
  color: #fff;
}
.Career-Page-Text ul li {
  margin-bottom: 19px;
}
.Career-card {
  border: 1px solid #cac8c8;
  margin: 0.5em 0;
  padding: 2%;
}
.Career-Main-Jobs {
  margin-top: 3%;
  margin-bottom: 5%;
}
.Career-card h3 {
  margin-top: 10px !important;
  color: #408bc9;
}
.Career-card h4 {
  color: #408bc9;
  margin-top: 25%;
}
.Career-card .Description-link {
  color: #408bc9;
  cursor: pointer;
}
.Career-card .btn {
  text-transform: none;
  margin-top: 22%;
}

.Career-card .margin-tb {
}
/*Career end*/

/*Borrower start*/
.Borrower-Main {
  background: linear-gradient(to bottom left, #76c4e2, #8176b5);
  background-size: cover;
  background-position: center;
  margin-top: 7%;
}
.Borrower-Page-Text {
  padding: 18% 0%;
}
.Borrower-Page-Text h1 {
  font-size: 37px;
  line-height: 42px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 800;
}
.Borrower-Page-Text h2 {
  line-height: 25px;
  color: #fff;
  font-weight: 300;
  margin-top: 0;
  font-size: 26px;
}
.Borrower-Page-Text h4 {
  font-weight: 300;
}
.Borrower-Page-Text ul {
  padding-left: 15px;
  list-style-image: url("../Assets/images/checked.png");
}
.Borrower-Page-Text ul li h4 {
  color: #fff;
}
.Borrower-Page-Text ul li {
  margin-bottom: 19px;
}
.Borrower-3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.Borrower-3 h2 {
  font-size: 38px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
  color: #424242;
}
.Borrower-3 h3 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 5px;
}
.Borrower-3 .subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: 1.3em;
  margin-bottom: 2em;
  font-weight: 300;
  color: #424242;
}
.Borrower-3 svg {
  margin-right: 20px;
  background: linear-gradient(to bottom left, #ffdb6f, #f69259);
  height: 30px;
  width: 30px !important;
  color: #fff;
  padding: 4px;
  border-radius: 100px;
}
.Borrower-3 .btm {
  padding-top: 3%;
}
.Borrower-3-f {
  display: inline-flex;
  margin-bottom: 7%;
  margin-left: 11%;
}
.Borrower-Timeline {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f2f2f2;
}
.Borrower-Timeline h2 {
  font-size: 38px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
  color: #424242;
}
.Borrower-Timeline .subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: 1.3em;
  font-weight: 300;
  color: #424242;
}
.Borrower-Timeline .subtitle2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 3em;
  font-weight: 300;
  color: #424242;
}
.Docs-Main {
  padding-top: 5%;
  padding-bottom: 5%;
}
.Docs-Main h2 {
  font-size: 38px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.3;
  font-weight: 300;
  padding-bottom: 2em;
  margin: 0;
  color: #424242;
}
.Docs-Main .nav > li {
  margin-bottom: 10%;
}
.Docs-Main .nav > li > a {
  text-decoration: none;
  border: 2px solid #fff;
  transition: border 1s ease 0s;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  height: 80px;
  color: #f58220;
  font-weight: 400;
  font-size: 18px;
  outline: 0;
  -webkit-align-items: center;
  align-items: center;
  line-height: 63px;
  box-shadow: 0 0 15px 1px #dedede;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.Docs-Main .nav > li > a:focus,
.Docs-Main .nav > li > a:hover {
  text-decoration: none;
  border: 2px solid #f58220;
  border-radius: 10px;
  transition: border 1s ease 0s;
  background-color: transparent !important;
}
.Docs-Main .nav > li.active > a {
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #f58220;
  transition: border 1s ease 0s;
}
.Docs-Main .list-group {
  box-shadow: none;
}
.Docs-Main .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: none;
}
.Docs-Main .Docs-Right {
  padding: 6% 0% 6% 8%;
}
.Docs-Main .media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10%;
}
.Docs-Main .media-body {
  margin-left: 10%;
  color: #797878;
}
/*Borrower end*/

@media (min-width: 1000px) {
  .Terms-Main {
    width: 1000px;
    margin: 0 auto;
  }
}

/*Timeline-Borrower*/
a {
  text-decoration: none;
}
.main-timeline {
  position: relative;
}
.main-timeline:before {
  content: "";
  width: 5px;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
  background: #b3b3b3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.main-timeline .timeline {
  display: inline-block;
  margin-bottom: 50px;
  position: relative;
}
.main-timeline .timeline:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: linear-gradient(to bottom left, #76c4e2, #8176b5);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.main-timeline .timeline-icon {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #7aa1cd;
  padding: 13px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}
.main-timeline .timeline-icon i {
  display: block;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #76c4e2, #8176b5);
  /* font-size: 64px; */
  color: #f2f2f2;
  line-height: 100px;
  z-index: 1;
  position: relative;
}
.main-timeline .timeline-icon i img {
  width: 50%;
}
.main-timeline .timeline-icon:after,
.main-timeline .timeline-icon:before {
  content: "";
  width: 100px;
  height: 4px;
  background: #7aa1cd;
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
}
.main-timeline .timeline-icon:after {
  width: 70px;
  height: 50px;
  background: #f2f2f2;
  top: 89px;
  right: -30px;
}
.main-timeline .timeline-content {
  width: 50%;
  padding: 0 50px;
  margin: 52px 0 0;
  float: right;
  position: relative;
}
.main-timeline .timeline-content:before {
  content: "";
  width: 70%;
  height: 100%;
  border: 3px solid #7aa1cd;
  border-top: none;
  border-right: none;
  position: absolute;
  bottom: -13px;
  left: 35px;
}
.main-timeline .timeline-content:after {
  content: "";
  width: 37px;
  height: 3px;
  background: #7aa1cd;
  position: absolute;
  top: 13px;
  left: 0;
}
.main-timeline .title {
  font-size: 20px;
  font-weight: 600;
  color: #7aa1cd;
  margin: 0 0 5px;
}
.main-timeline .description {
  display: inline-block;
  font-size: 16px;
  color: #404040;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: 30%;
}
.main-timeline .timeline:nth-child(even) .timeline-icon:before {
  right: auto;
  left: -100px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon:after {
  right: auto;
  left: -30px;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
  float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before {
  left: auto;
  right: 35px;
  transform: rotateY(180deg);
}
.main-timeline .timeline:nth-child(even) .timeline-content:after {
  left: auto;
  right: 0;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .timeline-icon i,
.main-timeline .timeline:nth-child(2n):before {
  background: linear-gradient(to bottom left, #ffdb6f, #f69259);
}
.main-timeline .timeline:nth-child(2n) .timeline-icon:before {
  background: #f69259;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon {
  border-color: #f69259;
}
.main-timeline .timeline:nth-child(2n) .title {
  color: #f69259;
  text-align: right;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before {
  border-left-color: #f69259;
  border-bottom-color: #f69259;
}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .timeline-icon i,
.main-timeline .timeline:nth-child(3n):before {
  background: linear-gradient(to bottom left, #ba77b1, #8176b5);
}
.main-timeline .timeline:nth-child(3n) .timeline-icon:before {
  background: #8176b5;
}
.main-timeline .timeline:nth-child(3n) .timeline-icon {
  border-color: #8176b5;
}
.main-timeline .timeline:nth-child(3n) .title {
  color: #8176b5;
}
.main-timeline .timeline:nth-child(3n) .timeline-content:before {
  border-left-color: #8176b5;
  border-bottom-color: #8176b5;
}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,
.main-timeline .timeline:nth-child(4n) .timeline-icon i,
.main-timeline .timeline:nth-child(4n):before {
  background: linear-gradient(to bottom left, #85cba8, #76c4e2);
}
.main-timeline .timeline:nth-child(4n) .timeline-icon:before {
  background: #2fcea5;
}
.main-timeline .timeline:nth-child(4n) .timeline-icon {
  border-color: #2fcea5;
}
.main-timeline .timeline:nth-child(4n) .title {
  color: #2fcea5;
}
.main-timeline .timeline:nth-child(4n) .timeline-content:before {
  border-left-color: #2fcea5;
  border-bottom-color: #2fcea5;
}
@media only screen and (max-width: 1200px) {
  .main-timeline .timeline-icon:before {
    width: 50px;
    right: -50px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon:before {
    right: auto;
    left: -50px;
  }
  .main-timeline .timeline-content {
    margin-top: 75px;
  }
}
@media only screen and (max-width: 990px) {
  .main-timeline .timeline {
    margin: 0 0 10px;
  }
  .main-timeline .timeline-icon {
    left: 25%;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    right: 25%;
  }
  .main-timeline .timeline-content {
    margin-top: 115px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline {
    padding-top: 50px;
  }
  .main-timeline:before {
    left: 80px;
    right: 0;
    margin: 0;
  }
  .main-timeline .timeline {
    margin-bottom: 70px;
  }
  .main-timeline .timeline:before {
    top: 0;
    left: 83px;
    right: 0;
    margin: 0;
  }
  .main-timeline .timeline-icon {
    width: 60px;
    height: 60px;
    line-height: 40px;
    padding: 5px;
    top: 0;
    left: 0;
  }
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    left: 0;
    right: auto;
  }
  .main-timeline .timeline-icon:before,
  .main-timeline .timeline:nth-child(even) .timeline-icon:before {
    width: 25px;
    left: auto;
    right: -25px;
  }
  .main-timeline .timeline-icon:after,
  .main-timeline .timeline:nth-child(even) .timeline-icon:after {
    width: 25px;
    height: 30px;
    top: 44px;
    left: auto;
    right: -5px;
  }
  .main-timeline .timeline-icon i {
    font-size: 30px;
    line-height: 45px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    width: 100%;
    margin-top: -15px;
    padding-left: 130px;
    padding-right: 5px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content {
    float: right;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before {
    width: 50%;
    left: 120px;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    transform: rotateY(0);
  }
  .main-timeline .timeline-content:after,
  .main-timeline .timeline:nth-child(even) .timeline-content:after {
    left: 85px;
  }
}
@media only screen and (max-width: 479px) {
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding-left: 110px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(2n) .timeline-content:before {
    left: 99px;
  }
  .main-timeline .timeline-content:after,
  .main-timeline .timeline:nth-child(2n) .timeline-content:after {
    left: 65px;
  }
}

/*Timeline-Borrower*/
